version: '3.8'

services:
  go-api:
    build: ./hello-api
    container_name: go-rest-api
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/metrics"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - monitoring-net
    
  prometheus:
    image: prom/prometheus:v2.47.0
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    depends_on:
      - go-api
    networks:
      - monitoring-net

  grafana:
    image: grafana/grafana:9.5.1
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - monitoring-net

  load-tester:
    build: ./load-tester
    container_name: load-tester
    networks:
      - monitoring-net
    depends_on:
      - go-api
      - prometheus

volumes:
  grafana-data:

networks:
  monitoring-net:
    driver: bridge

